server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - StripPrefix=0
      routes:
        - id: auth-route
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - PreserveHostHeader
            - AddRequestHeader=X-Gateway,ApiGateway

        - id: wallet-route
          uri: lb://WALLET-SERVICE
          predicates:
            - Path=/wallet/**
          filters:
            - PreserveHostHeader
            - AddRequestHeader=X-Gateway,ApiGateway

        - id: transaction-route
          uri: lb://TRANSACTION-SERVICE
          predicates:
            - Path=/transaction/**
          filters:
            - PreserveHostHeader
            - AddRequestHeader=X-Gateway,ApiGateway

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
